@page "/"

<PageTitle>Home</PageTitle>

<h1>Hola, Pastorcito!</h1>

Bienvenido al sitio Chinampas de Xochimilco.

<p>
    <img src="@imageSource" />
</p>

@code {
    private string? imageSource = $"images/Oro Argan Co..jpg";
}